.button{
    height: 50px;
    width: 170px;
    background-color: burlywood;
    border: 2px burlywood;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    font-weight: bold;
}

.icon{
    height: 2rem;
    width: 2rem;
}

.badge{
    background-color: rgb(62, 17, 17);
    color: white;
    padding: 5px;
    border-radius: 15px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.button:hover{
    background-color: white
}